body{
    width: 100%;
    background-color: black;
    font-family: 'Andika New Basic', sans-serif;
    letter-spacing: 1px;
}

.wallcontainer{
    width: 1200px;
    height: 900px;
    margin: auto;
    background-color: rgb(72, 72, 72);
    color: white;
    display: block;
    justify-content: center;
}

.formlist{
    width: 950px;
    display: flex;
    justify-content: space-evenly;
}

div, input{
    display: block;
    margin: 7px 0px;
}

input{
    height: 20px;
}

textarea, label{
    display: block;
}

.submit, button{
    height: 30px;
    font-weight: bold;
    font-family: 'Andika New Basic', sans-serif;
}

.logout{
    margin-left: 15px;
    display: flex;
    justify-content: center;
}

.message{
    margin: 0px;
}

.topper{
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    border-bottom: 3px solid black;
}

.out{
    height: inherit;
    display: block;
    justify-content: flex-end;
    align-items: center;
}

h2{
    display: flex;
    justify-content: center;
}
a{
    color: rgb(91, 91, 193);
}